<%= form_for [ @rant, @comment ] do |f| %>

    <div class="well" style="width:850px; text-align: center; position: fixed;">
        <h3>Post a Comment</h3><br>
    <div class="input-group">
        <%= f.text_area :body %>
    </div>
    <%= f.submit 'Submit' %>
    </div>
    
<% end %>